.table {
    
    width: 50%;
    margin: 0px auto;
    float: none;
    
}
.table td {
    text-align: right;
    border-top:0px;
    padding: 0rem;
    padding-right: 2rem;
    width:auto;
}
.table tr{
    border-color: transparent;
    
}
