
.footer{
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: black;
     text-align: center;
    background-color:#f1f1f1 ;
    font-family: Helvetica;
    
  }
  
  .pb-3, .py-3 {
    padding-bottom: 0.5%!important;
  }
  
  .pt-3, .py-3 {
    padding-top: 0.5%!important;
  }