.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #fff;
  background-color: #6688a3;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.jumbotron-tb {
  border-radius: 0rem;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  align-content: left;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 6rem;
  margin-right: 6rem;
}
